* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(224, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* contenedor de la pagina*/
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
/* Tarjeta de presentacion */
.tarjeta {
    background-color: #8cb5fc;
width: 250px;
border-radius: 40px;
display: flex;
flex-direction: column;
padding: 20px;
justify-content: space-around;
gap: 15px;
}

img {
    width: 150px;
align-self: center;
border-radius: 76px;
}

h1 {
    font-size: 20px;
    text-align:center;
    color: beige;

}

p {
    font-size: 14px;
    text-align: justify;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

a{
    color: rgb(0, 26, 255);
    text-align: right;
    text-decoration: none;
    transition: color 0.3s;

}
a:hover{
    color: #ff1493;
}
/* Boton ver mas*/
.btn-ver-mas {
    display: inline-block;
    padding: 15px 35px;
    
    background: linear-gradient(135deg, #82fff9 #57f9ff);
    color:rgb(70, 6, 247);

    text-decoration: none;

    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

    transition: all 0.3S ease;

    box-shadow: 0 4px 15px rgba(5, 147, 162, 0.3);
}

.btn-ver-mas:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(5, 147, 162, 0.5);
    
}